/.venv/
/__pycache__/
*.py[cod]
*$py.class
/.pytest_cache/
/.mypy_cache/
/.ruff_cache/
/.coverage
/htmlcov/
/.cache/

# env files
/.env

# editor settings
/.vscode/
/.idea/

# OS files
.DS_Store
Thumbs.db
